/*           FOOTER           */
footer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}

footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

/*           NAVBAR           */

nav {
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}