/*           FOOTER           */
footer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}

footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

/*           NAVBAR           */

nav {
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/*           BUTTONS           */

.open-button {
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: 8rem;
  font-family: var(--font-primary);
  font-size: 3rem;
  padding: 2rem 5rem;
  cursor: pointer;

  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.6),
    0 0 24px rgba(var(--color-text-rgb), 0.4);
}

.open-button:hover {
  color: var(--color-primary);
}

button {
  pointer-events: auto;
}

/*           CARDS           */

.card {
  background: var(--color-bg-transparent);
  padding: 0.5rem 2.5rem;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.5),
    0 0 24px rgba(var(--color-text-rgb), 0.3);
}
