/*           FOOTER           */
footer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}

footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

/*           NAVBAR           */

nav {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  display: flex;
  align-items: center;
  z-index: 20;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav li {
  cursor: pointer;
  transition: color 0.25s ease;
}


nav li:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
   nav li[data-short]::after {
    content: attr(data-short);
  }

  nav li[data-short] {
    font-size: 0;
  }

  nav li[data-short]::after {
    font-size:  1rem;
  }
}

/*           BUTTONS           */

.open-button {
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: 8rem;
  font-family: var(--font-primary);
  font-size: 3rem;
  padding: 2rem 5rem;
  cursor: pointer;

  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.6),
    0 0 24px rgba(var(--color-text-rgb), 0.4);
}

.open-button:hover {
  color: var(--color-primary);
}

button {
  pointer-events: auto;
}

/*           CARDS           */

.card {
  background: var(--color-bg-transparent);
  padding: 0.5rem 2.5rem;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.5),
    0 0 24px rgba(var(--color-text-rgb), 0.3);
}


@media (max-width: 768px) {
  .card {
    padding: 0.3rem 1rem;
  }
}

/*        LOADING BAR        */

.loading-screen {
  position: fixed;
  inset: 0;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.loading-bar-bg {
  width: 40%;
  height: 8px;
  background: rgba(255,255,255,0.15);
  border-radius: 4px;
  overflow: hidden;
}

.loading-bar-fill {
  height: 100%;
  background: var(--color-primary);
  transform-origin: left;
  transition: transform 0.1s linear;
}

.loading-label {
  margin-top: 10px;
  color: var(--color-text);
  font-size: 1.2rem;
  font-family: var(--font-primary);
}