:root {
  --color-primary: #de87f1;
  --color-secondary: #9397fb;
  --color-background: #0b0722;
  --color-text: #f2d9f9;

  --font-primary: 'Satoshi', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-primary);
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-primary);
}

ul {
  list-style: none;
}
