:root {
  --color-primary: #de87f1;
  --color-secondary: #9397fb;
  --color-background: #0b0722;
  --color-bg-transparent: rgba(11, 7, 34, 0.5);
  --color-text: #f2d9f9;
  --color-text-rgb: 242, 217, 249;

  --font-primary: 'Satoshi', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

html,
body,
#root
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-primary);
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 0.4rem;
}

h1, h2, h3 {
  color: var(--color-primary);
  line-height: 0.9;
}

canvas {
  outline: none;
}