:root {
  --color-primary: #de87f1;
  --color-background: #0b0722;
  --color-bg-transparent: rgba(11, 7, 34, 0.5);
  --color-text: #f2d9f9;
  --color-text-rgb: 242, 217, 249;

  --font-primary: 'Satoshi', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  display: block;
  outline: none;
}

html,
body,
#root
{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--color-text);
  background: radial-gradient(
    120% 80% at 50% 20%,
    #251342 0%,
    transparent 50%
  ),
  linear-gradient(
    to top,
    var(--color-background),
    #120a3a
  );
  font-family: var(--font-primary);
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 0.4rem;
}

h1, h2, h3 {
  color: var(--color-primary);
  line-height: 0.9;
}

@media (max-width: 768px) {

  h1, h2, h3  {
    line-height: 1.2;
  }
}