.interface {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.interface * {
  pointer-events: auto;
}

.title {
  margin-top: 2rem;
  font-size: 8rem;
}

header {
  margin: 5rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

header h2 {
  font-size: 2.5rem;
  line-height: 0;
  font-weight: 400;
}

header.hidden {
  opacity: 0;

}

/*     joystick mobile    */

.joystick {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--color-text);
  z-index: 2000;
  touch-action: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.joystick-thumb {
  width: 45px;
  height: 45px;
  background: var(--color-text);
  border-radius: 50%;
  margin: auto;
  will-change: transform;
  pointer-events: none;
}

@media (max-width: 768px) {
  .title {
    margin-top: 5rem;
    font-size: 3.5rem;
    line-height: 1;
  }

  header {
    margin: 2rem;
  }

  header h2 {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}