.interface {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.interface * {
  pointer-events: auto;
}

.title {
  margin-top: 2rem;
  font-size: 8rem;
}

header {
  margin: 5rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

header h2 {
  font-size: 2.5rem;
  line-height: 0;
  font-weight: 400;
}

header.hidden {
  opacity: 0;

}

@media (max-width: 768px) {
  .title {
    margin-top: 5rem;
    font-size: 3.5rem;
    line-height: 1;
  }

  header {
    margin: 2rem;
  }

  header h2 {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}