.projects-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.project-card {
  border-radius: 8px;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.5),
    0 0 24px rgba(var(--color-text-rgb), 0.3);
  transition: transform 0.2s;
  overflow: hidden;
  margin: 0.8rem 3.5rem;
}

.project-card h3{
  margin: 0.8rem 1rem;
  color: var(--color-text);
}

.project-card-header {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-card:hover {
  transform: translateY(-3px);
  border: 1px solid var(--color-primary);
}

.project-card.selected {
  border: 1px solid var(--color-primary);
  transform: translateX(1rem);
}

.projects-list-column {
  width: 25%;
  overflow-y: auto;
  padding-right: 1.5rem;
}

.projects-detail-column {
  width: 75%;
  padding-left: 1.5rem;
}

.project-media {
  width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.5),
    0 0 24px rgba(var(--color-text-rgb), 0.3);
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    padding: 0.4rem;
    margin-top: 0rem;
    gap: 0;
  }

  .projects-list-column h1{
    margin-top: 0rem;
  }

  .projects-list-column,
  .projects-detail-column {
    width: 100%;
    padding: 0;
  }

  .projects-list-column {
    max-width: 100vw;
    padding: 0rem;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .projects-list {
    display: flex;
    gap: 1rem;
    padding-bottom: 0.8rem;

    width: max-content;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .project-card {
    width: 220px;
    min-width: 220px;
    max-width: 220px;

    margin: 0;
    flex-shrink: 0;
  }

  .project-card.selected {
    transform: none;
    border: 1px solid var(--color-primary);
  }

  .project-card-header {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  .project-card h3 {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .project-media {
    margin-top: 0.8rem;
  }

  .projects-list {
    scroll-snap-type: x mandatory;
  }

  .project-card {
    scroll-snap-align: start;
  }

}