.projects-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.project-card {
  border-radius: 8px;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.5),
    0 0 24px rgba(var(--color-text-rgb), 0.3);
  transition: transform 0.2s;
  overflow: hidden;
  margin: 1rem 2rem;
}

.project-card h3{
  padding: 0.2rem 2rem;
  color: var(--color-text);
}

.project-card-header {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-card:hover {
  transform: translateY(-3px);
  border: 1px solid var(--color-primary);
}

.project-card.selected {
  border: 1px solid var(--color-primary);
  transform: translateX(1rem);
}

.projects-list-column {
  width: 25%;
  overflow-y: auto;
  padding-right: 1.5rem;
}

.projects-detail-column {
  width: 75%;
  padding-left: 1.5rem;
}

.project-media {
  width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.5),
    0 0 24px rgba(var(--color-text-rgb), 0.3);
}