.open-button {
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: 8rem;
  font-family: var(--font-primary);
  font-size: 3rem;
  padding: 2rem 5rem;
  cursor: pointer;

  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.6),
    0 0 24px rgba(var(--color-text-rgb), 0.4);
}

.resume-container-wrapper {
  position: fixed !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.resume-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.resume-card {
  background: var(--color-bg-transparent);
  padding: 1.5rem 3.5rem;
  border-radius: 10px;
  max-height: 75vh;
  width: 70vw;
  overflow-y: auto;
  position: relative;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.6),
    0 0 24px rgba(var(--color-text-rgb), 0.4);
}

.resume-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  padding: 0.4rem 0.7rem;
  border-radius: 5rem;
}

.card {
  background: var(--color-bg-transparent);
  padding: 1rem 4rem;
  margin: 2rem 0.5rem;
  width: 30vw;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--color-text);
  box-shadow:
    0 0 12px rgba(var(--color-text-rgb), 0.5),
    0 0 24px rgba(var(--color-text-rgb), 0.3);
}

.resume-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.resume-links a {
  text-decoration: none;
}

.resume-links p {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0;
}